/*
!.gitignore
!README.md

.DS_Store
/.idea

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/cineguimbi
/wp-content/themes/cineguimbi/node_modules
/wp-content/themes/cineguimbi/.npmrc
/wp-content/themes/cineguimbi/.github/
/wp-content/themes/cineguimbi/package-lock.json