@layer utilities {
    body {
        @apply font-family-regular;
    }

    /* WYSIWYG EDIT */
    .wysiwyg {

    h3, h4, h5 {
        @apply text-sm text-primary font-black font-family-black mt-4 mb-6 uppercase;
    }

    h2 {
        @apply text-lg text-primary font-black font-family-black mt-4 mb-6 uppercase;
    }

    blockquote.wp-block-quote {
        @apply border-primary;
    }

    pre {
        @apply my-12;
    }

    p {
        @apply leading-8;

& + *:not(p) {
      @apply mt-16;
  }
}
a {
    @apply text-primary hover:underline;
}

ul {
    @apply my-16;

li {
    @apply before:content-["\2014"] before:text-primary before:mr-5;
}

}
}
/* END WYSIWYG EDIT */

.primary-button {
    @apply block max-w-max font-bold font-family-bold uppercase text-primary text-xs border border-primary px-5 pt-3.5 pb-2.5 hover:text-white shadow-set-hover hover:shadow-hover duration-150 ease-in;
}

.sort .button.active {
    @apply bg-primary text-white;
}

.sort .button.active span {
    @apply bg-white fill-primary rotate-180;
}

.sticky-element {
    @apply fixed top-0 right-[14%] max-w-max z-3;
}

/* Progress Bar */
.slide-progress {
    height: 0;
    max-height: 100%;
    width: 4px;
}

/* HEADER LOGO */
.custom-logo-link {
    @apply block h-full w-full;
}

.custom-logo {
    @apply h-full w-full;
}

/* HEADER TOGGLE BURGER*/
.close-menu {
    @apply rounded-full mx-[0.78125rem] my-[1.4375rem] w-auto aspect-square h-[66px];
}

.open-menu {
    @apply w-toggle-button h-toggle-button;
}

#primary-menu-toggle:hover span {
    @apply w-full;
}

#primary-menu-toggle div.toggle-logo span:nth-child(2) {
    @apply hidden;
}

#primary-menu-toggle div.toggle-logo span:nth-child(1) {
    @apply rotate-45 translate-y-1/2;
}

#primary-menu-toggle div.toggle-logo span:nth-child(3) {
    @apply -rotate-45 -translate-y-1/2;
}

a#primary-menu-toggle div.toggle-logo {
    @apply h-auto;
}

/* Link in menu */
.menu-link {
    @apply inline-block max-w-80vw w-full p-5 border-b border-dark transition ease-in-out hover:border-white xxl:hover:border-dark hover:text-secondary focus:text-secondary active:text-primary-dark xxl:border-b-0 xxl:border-r xxl:p-[1.5625rem] xxl:my-0;
}

li:last-of-type a.menu-link {
    @apply border-b-0 xxl:border-none hover:border-b hover:border-white;
}

/* ACTIVE HEADER*/
header.active-header {
    @apply min-h-screen bg-menu-texture bg-black;
}

.tag {
    @apply max-w-max bg-primary pt-2 pb-1 px-4 uppercase text-white text-xs font-bold font-family-bold;
}

.underline-title {
    @apply font-family-black font-extrabold tracking-widest uppercase text-xl md:text-25px text-center mt-11 lg:mt-24 md:mt-20 mb-8 md:mb-10 after:block after:h-[6px] after:w-12 after:bg-primary after:rounded-full after:mx-auto after:-rotate-3 after:mt-1;
}

.underline-title-green {
    @apply font-family-black font-extrabold tracking-widest uppercase text-xl text-primary after:block after:h-[6px] after:w-12 after:bg-primary after:rounded-full after:-rotate-3 after:mt-1 mb-6 py-5;
}

.underline-title-button {
    @apply font-family-black font-extrabold tracking-widest uppercase text-lg text-left hover:text-primary hover:after:bg-primary after:block after:h-[6px] after:w-12 after:bg-light-secondary after:rounded-full after:-rotate-3 after:mt-1 hover:after:rotate-0 duration-100;
}

.underline-title-button.active {
    @apply text-primary after:bg-primary border-none;
}

.underline-title-button:nth-child(1) {
    @apply border-r border-b border-light-secondary ;
}

.underline-title-button:nth-child(2) {
    @apply border-l border-b border-light-secondary ;
}

.colored-title {
    @apply font-bold font-family-bold text-sm text-white text-center uppercase mx-auto max-w-title-colored pt-2 pb-1.5;
}

.hover-block:hover div, .hover-block:focus div {
    @apply translate-y-0 bg-opacity-95;
}

.colored-box {
    background: linear-gradient(#ffffff 75%, #F1F2EB 25%);
}

/* FIXED MEDIA HOVER */
.fixed-media:hover button span i {
    @apply rotate-180 pb-0 pt-2;
}

/* OWL CAROUSEL */
.owl-carousel.owl-theme.owl-date.owl-drag {
    @apply relative after:absolute after:block after:h-full after:top-0 after:right-0 after:w-[100px] after:bg-gradient-to-l after:from-white after:to-white/0 before:absolute before:block before:h-full before:top-0 before:left-0 before:w-[100px] before:bg-gradient-to-r before:from-white before:to-white/0 before:z-1;
}

.owl-date a:hover time {
    @apply border border-primary border-opacity-30;
}

.owl-date a:focus time {
    @apply border border-primary border-opacity-30 ring-2 ring-offset-2 ring-primary;
}

.owl-date.owl-drag.owl-carousel .owl-stage-outer {
    @apply py-2;
}

.owl-date.owl-drag.owl-carousel .owl-stage-outer .owl-stage {
    @apply shadow-custom;
}

.owl-date .owl-item {
    @apply grid place-content-center border-r border-light-secondary last:border-none bg-white;
}

.owl-carousel.owl-date.owl-theme .owl-nav button {
    @apply top-1/2 -translate-y-1/2;
}

.owl-carousel.owl-date.owl-theme .owl-nav button.owl-next {
    @apply absolute text-primary right-0 z-2 mr-5 text-2xl hover:bg-transparent p-6;
}

.owl-carousel.owl-date.owl-theme .owl-nav button.owl-prev {
    @apply absolute text-primary left-0 z-2 ml-5 text-2xl hover:bg-transparent p-6;
}

.owl-theme.owl-carousel-regular .owl-nav {
    @apply w-full max-w-xxl flex justify-between m-0 absolute top-[40%] left-0;
}

.owl-carousel-regular {
    @apply px-5;
}

.owl-carousel-regular.owl-drag .owl-item {
    @apply drop-shadow-md;
}

.owl-theme.owl-carousel-regular .owl-nav button {
    @apply bg-primary h-11 w-11 rounded-full text-white text-lg grid place-content-center !important;
}

/* OWL CAROUSEL STYLE FOR THE HERO / BANNER PART */
.owl-theme.owl-carousel {

.owl-dots {

.owl-dot.active span {
    @apply bg-primary;
}

.owl-dot span {
    height: 9px;
    width: 9px;
    background-color: #D0D0D0;
}

}
&
.owl-carousel-hero {

.owl-dots {
    @apply -mt-16 mb-20 z-1 relative md:absolute md:right-0 md:rotate-90 md:m-0 md:top-1/2 md:-translate-y-1/2;

.owl-dot {

span {
    @apply h-2.5 w-2.5;
}

&
.active span {
    @apply bg-primary-dark lg:bg-primary;
}

}
}
}
}
/* OWL CAROUSEL STYLE FOR REGULAR CAROUSEL */
.owl-theme.owl-carousel.owl-carousel-regular {

.owl-dots {
    @apply mt-8;
}

}

/* toggle list and vignettes */
.article-wrapper.card {
    @apply grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 xl:grid-cols-4  text-center;

.article-card {

img {
    @apply md:aspect-square;
}

.tag {
    @apply mx-auto;
}

.article-content {
    @apply hidden;
}

.article-cta {
    @apply hidden;
}

}
}
/* SYNOPSIS MOVIE WYSIWYG */
.synopsis-wysiwyg {

p {
    @apply lg:block font-light font-family-light lg:font-normal lg:font-family-regular my-9;
}

}
/* HEADER Mobile SOCIALS */
header .socials-mobile {

ul {
    @apply flex items-center justify-center divide-x divide-dark-secondary;

li {

a {
    @apply block p-2 xs:p-3 sm:p-4 hover:text-primary focus:text-primary-dark active:text-primary-dark;
}

}
}
}
/* HEADER DESKTOP SOCIALS */
header .socials-desktop {

ul {
    @apply flex items-center justify-center;

li a {
    @apply mx-3 hover:text-primary focus:text-primary active:text-primary-dark transition ease-in-out;
}

}
}
/* PREMIER ITEM DU MENU */
#primary-menu li:first-child {

a {
    @apply xxl:flex;

i {
    @apply text-primary hidden mr-4 xxl:inline-block;
}

}
}
/* SOUS-MENU */
#primary-menu {

.menu-item-has-children {
    @apply xxl:relative xxl:overflow-visible;

a {
    @apply relative xxl:flex xxl:items-end;

span {
    @apply xxl:mr-2.5;
}

i {
    @apply text-primary text-15px absolute top-1/2 right-0 -translate-y-1/2 xxl:relative;
}

}
li {
    @apply border-b border-dark last:border-b-0 border-b-primary-dark xxl:border-b-dark xxl:hover:border-b-dark;

a {
    @apply inline-block w-full p-5 ease-in-out transition xxl:px-25px xxl:py-4 xxl:my-0 bg-primary hover:bg-primary-dark xxl:bg-black xxl:hover:bg-black xxl:hover:border-l-8 xxl:hover:border-l-primary;
}

}
}
}
/* FOOTER MENU NAVIGATION */
#menu-pied-de-page {

&
> li {
    @apply even:pl-10 odd:border-r-[0.0625rem] odd:border-r odd:border-dark-secondary even:border-l-[0.0625rem] even:border-l even:border-transparent hover:border-white;

&
.menu-item-has-children {
    @apply group-hover:text-light relative;
}

}
.sub-menu li {
    @apply text-light;

a {
    @apply p-2.5 text-dark-secondary hover:text-black hover:border-l-8 hover:border-tertiary;
}

}
}
/* FOOTER MENU SOCIALS */
footer .menu-socials ul {
    @apply flex items-center justify-center lg:justify-start;

li {

&
:first-child a {
    @apply md:pl-0;
}

a {
    @apply p-4 lg:p-2.5 text-footer-social duration-150 text-white hover:text-primary;
}

}
}
}
/* MASONRY */
.grid-sizer, .item {
    @apply w-full xs:w-[calc(50%-10px)] lg:w-[calc(33.3333%-10px)] ;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item {
    float: left;
}

.item img {
    display: block;
    width: 100%;
}

/* CONTACT FORM 7 */
.contact-form form {

p {
    @apply my-6 w-full;

&:first-of-type {
    @apply mt-0;
}

}
label {
    @apply tracking-widest font-black font-family-black text-primary uppercase text-sm w-full mb-2.5;

input, textarea {
    @apply mt-2 p-2 tracking-normal font-normal font-family-regular text-black text-base border border-primary w-full focus:outline-0 focus:ring-primary focus:ring-1;
}

}
input[type=submit] {
    @apply hover:cursor-pointer block max-w-max font-bold font-family-bold uppercase text-xs md:text-sm lg:text-base border-2px border-primary bg-primary px-6 text-white pt-4 pb-3 hover:text-primary shadow-set-hover hover:shadow-hover-white duration-150 ease-in mb-4 lg:block tracking-widest;
}

.wpcf7-not-valid-tip {
    @apply text-10px px-2.5 normal-case w-full bg-red-600 text-white;
}

.wpcf7-form-control-wrap {
    @apply flex flex-col;
}
.wpcf7-spinner{
    @apply hidden;
}
}