body {
    @apply font-family-regular;
}

/* HEADER LOGO */
.custom-logo-link {
    @apply block h-full w-full;
}
.custom-logo {
    @apply h-full w-full;
}
/* HEADER TOGGLE BURGER*/
.close-menu{
    @apply  rounded-full mx-[0.78125rem] my-[1.4375rem] w-auto aspect-square h-[66px];
}
.open-menu{
    @apply  w-toggle-button h-toggle-button;
}
#primary-menu-toggle:hover span{
    @apply w-full;
}
#primary-menu-toggle div.toggle-logo span:nth-child(2){
    @apply hidden;
}
#primary-menu-toggle div.toggle-logo span:nth-child(1) {
    @apply rotate-45 translate-y-1/2;
}
#primary-menu-toggle div.toggle-logo span:nth-child(3) {
    @apply -rotate-45 -translate-y-1/2;
}
a#primary-menu-toggle div.toggle-logo {
    @apply h-auto;
}
/* Link in menu */
.menu-link {
    @apply inline-block w-full p-5 border-b border-dark hover:border-white hover:text-secondary focus:text-secondary active:text-primary-dark xxl:border-b-0 xxl:border-r xxl:p-[1.5625rem] xxl:my-0;
}
li:last-of-type a.menu-link{
    @apply border-b-0 xxl:border-none hover:border-b hover:border-white;
}
li:first-of-type a.menu-link{
    @apply px-0;
}
/* ACTIVE HEADER*/
header.active-header{
    @apply min-h-screen bg-menu-texture;
}
.tag {
    @apply max-w-max bg-primary pt-2 pb-1 px-4 uppercase text-white text-xs font-bold font-family-bold;
}

.underline-title {
    @apply font-family-black font-extrabold tracking-widest uppercase text-xl text-center mb-6 after:block after:h-[6px] after:w-12 after:bg-primary after:rounded-full after:mx-auto after:-rotate-3 after:mt-1;
}

.colored-title {
    @apply font-bold font-family-bold text-sm text-white text-center uppercase mx-auto max-w-title-colored pt-2 pb-1.5;
}

.hover-block:hover div, .hover-block:focus div {
    @apply translate-y-0 bg-opacity-95;
}

.colored-box {
    background: linear-gradient(#ffffff 75%, #F1F2EB 25%);
}
/* FIXED MEDIA HOVER */
.fixed-media:hover button span i {
    @apply rotate-180 pb-0 pt-2;
}
/* OWL CAROUSEL */
.owl-carousel.owl-theme.owl-date.owl-drag{
    @apply relative after:absolute after:block after:h-full after:top-0 after:right-0 after:w-[100px] after:bg-gradient-to-l after:from-white after:to-white/0 before:absolute before:block before:h-full before:top-0 before:left-0 before:w-[100px] before:bg-gradient-to-r before:from-white before:to-white/0 before:z-1;
}
.owl-date a:hover time {
    @apply border border-primary border-opacity-30;
}
.owl-date a:focus time {
    @apply border border-primary border-opacity-30 ring-2 ring-offset-2 ring-primary;
}

.owl-date.owl-drag.owl-carousel .owl-stage-outer {
    @apply py-2;
}
.owl-date.owl-drag.owl-carousel .owl-stage-outer .owl-stage{
    @apply shadow-custom;
}

.owl-date .owl-item {
    @apply grid place-content-center border-r border-light-secondary last:border-none bg-white;
}
.owl-carousel.owl-date.owl-theme .owl-nav button{
    @apply top-1/2 -translate-y-1/2;
}
.owl-carousel.owl-date.owl-theme .owl-nav button.owl-next{
    @apply absolute text-primary right-0 z-2 mr-5 text-2xl hover:bg-transparent p-6;
}
.owl-carousel.owl-date.owl-theme .owl-nav button.owl-prev{
    @apply absolute text-primary left-0 z-2 ml-5 text-2xl hover:bg-transparent p-6;
}

.owl-theme.owl-carousel-regular .owl-nav {
    @apply w-screen max-w-xxl flex justify-between m-0 absolute top-[40%] left-0;
}

.owl-carousel-regular.owl-drag .owl-item {
    @apply drop-shadow-md px-5 pb-8;
}

.owl-theme.owl-carousel-regular .owl-nav button {
    @apply bg-primary h-11 w-11 rounded-full text-white text-lg grid place-content-center !important;
}

.owl-theme.owl-carousel-regular .owl-dots {
    margin-top: 1.5rem;
}

.owl-theme.owl-carousel-regular .owl-dots .owl-dot span {
    height: 9px;
    width: 9px;
    background-color: #D0D0D0;
}

.owl-theme.owl-carousel-regular .owl-dots .owl-dot.active span {
    background-color: rgb(129, 138, 81);
}


/*
.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
*/